<html>

<head>
    <title>Matrix-Info</title>
    <link rel="apple-touch-icon" href="data/whats_ingo_icon.png">
</head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <h1 style="font-family:Helvetica,serif;">Dagl-Info</h1>
    <p style="font-family:Helvetica,serif;">Hi {{ session["username"] }}!</p>
    <p style="font-family:Helvetica,serif;">Deine Nachricht an die Daglers</p>
    <form action="" method="POST" autocomplete="off">
        <input autocomplete="false" name="message" type="text" id="messageField" placeholder="Nachricht" required autofocus/> <br />
        <button type="submit" name="submitButton" value="NewMessage">Senden</button>
    </form>
    <form action="" method="POST" autocomplete="off">
      <button type="submit" name="submitButton" value="logout">Namen ändern</button>
  </form>
    <script>
        let tagArr = document.getElementsByTagName("input");
        for (let i = 0; i < tagArr.length; i++) {
          tagArr[i].autocomplete = 'off';
        }
      </script>
      <script>
        window.onload = function getFocus() {           
        document.getElementById("messageField").focus();
        }
        
        </script>
</body>

</html>