<html>
    <head>
        <title>Dagl-Info</title>
        <link rel="apple-touch-icon" href="data/whats_ingo_icon.png">
    </head>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <h1 style = "font-family:Helvetica,serif;">Dagl-Info</h1>
        <p style = "font-family:Helvetica,serif;">Deine Nachricht wurde an die Daglers gesendet.</p>
        <p style = "font-family:Helvetica,serif;">"{{ message }}"</p>
        <form action="" method="POST">
            <button type="submit" value="NewMessageRequest">Neue Nachricht</button>
        </form>
    </body>
</html>